.div {
    background-color: #fff424;
}

h1 {
    font-family: "Exo 2", serif;
}
h2 {
    font-family: "Exo 2", serif;
}
h3 {
    font-family: "Exo 2", serif;
}
p {
    font-family: "Exo 2", serif;
}
button {
    font-family: "Exo 2", serif;
}
label {
    font-family: "Exo 2", serif;
}
option {
    font-family: "Exo 2", serif;
}
select {
    font-family: "Exo 2", serif;
}


main {
    margin-top: 120px;
    background-color: #fff424;
    min-height: 800px;
}

header {
    background: #333333;
    color: white;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    transition: height 0.1s ease;
    z-index: 5;
}

.shrink {
    height: 70px;
}

nav {
    display: flex;
    flex-wrap: wrap; /* Розміщення кнопок на декількох рядках, якщо їх багато */
    gap: 10px; /* Відступи між кнопками */
    justify-content: center; /* Вирівнювання по центру */
    padding: 10px;
    margin-right: 30px;
    font-family: "Exo 2", serif;
}

header a {
    border: none;
    background: none;
    font-family: "Exo 2", serif;
}

header a img {
    max-height: 48px; /* Максимальна висота логотипа */
    max-width: auto; /* Автоматична ширина пропорційно висоті */
    object-fit: contain; /* Зберігає пропорції */
    margin-left: 30px;
}


footer {
    background: #333333;
    text-align: center;
    padding: 10px;
    z-index: 5;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}

form label {
    font-size: 16px;
    color: #333;
}

form button {
    background: #333333;
    border-radius: 3px;
    color: white;
    border: none;
    padding: 14px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.6s ease;
}

form button:hover {
    color: #fff424;
}

.header_but {
    background: none; /* Прозорий фон */
    border: 2px solid #fff; /* Білий обвід */
    border-radius: 5px;
    color: #fff; /* Білий текст */
    font-size: 20px; /* Розмір тексту */
    padding: 10px 15px; /* Відступи всередині кнопки */
    cursor: pointer; /* Курсор "рука" при наведенні */
    transition: all 0.3s ease; /* Анімація наводження */
    text-decoration: none;
}

.header_but:hover {
    background-color: rgb(242, 255, 0); /* Жовтий фон при наведенні */
    color: #000; /* Чорний текст при наведенні */
}

#melodies {
    margin: 20px auto;
    padding: 20px;
    width: 600px; /* Обмеження ширини секції */
    background-color: #fff424; /* Світло-сірий фон */
    border-radius: 10px; /* Закруглення кутів */
    text-align: center; /* Центрування тексту */
}

#melodies h2 {
    color: #333; /* Темно-сірий текст */
    margin-bottom: 15px;
}

#melodies label {
    display: block; /* Відображення лейбла окремим блоком */
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%; /* Ширина поля */
    max-width: 600px; /* Максимальна ширина */
    margin: 10px auto 15px; /* Відступи знизу та вирівнювання по центру */
    padding: 8px; /* Внутрішній відступ */
    color: #555; /* Темно-сірий текст */
    border: 2px solid #ccc; /* Сірий обвід */
    border-radius: 5px; /* Закруглення країв */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкий тіньовий ефект */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Анімація при фокусі */
}

#melodies label:hover {
    border-color: #333333;
}

input[type="file"] {
    opacity: 0%;
}

#melodies button {
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


#schedule {
    display: flex;
    justify-content: center;
}

#schedule_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

#text_cont {
    display: flex;
    justify-content: center;
}

iframe {
    border: none;
    border-radius: 8px;
    overflow: hidden;
}

#graphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#graphs h2 {
    font-size: 32px;
}

.sensors {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 800px;
}