main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 1440px;
    background-color: #fff424;
    border-radius: 20px;
}

.voice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voice h1 {
    font-size: 36px;
    margin: 20px;
    align-self: center;
}

.voice form {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.voice label {
    font-size: 28px;
    margin: 4px;
}

.voice form select {
    width: 700px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
}

.voice form input[type="text"] {
    width: 670px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
}

.file_label {
    margin: 0;
    padding: 15px;
    width: 665px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
}

.voice form input[type="file"] {
    width: 700px;
    height: 55px;
    position: absolute;
    opacity: 0%;
    margin-top: 10px;
}


.voice form button {
    align-self: end;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.x {
    background-color: #ffcdb2;
}